
.f-12 {
    width: 100%;
}

.f-11 {
    width: 91.66%;
}

.f-10 {
    width: 83.33%;
}

.f-9 {
    width: 75%;
}

.f-8 {
    width: 66.66%;
}

.f-7 {
    width: 58.33%;
}

.f-6 {
    width: 50%;
}

.f-5 {
    width: 41.66%;
}

.f-4 {
    width: 33.33%;
}

.f-3 {
    width: 25%;
}

.f-2 {
    width: 12.66%;
}

.f-1 {
    width: 8.33%;
}


.ffs-3 {
    font-size: 3px;
}

.ffs-4 {
    font-size: 4px;
}

.ffs-5 {
    font-size: 5px;
}

.ffs-6 {
    font-size: 6px;
}

.ffs-7 {
    font-size: 7px;
}

.ffs-8 {
    font-size: 8px;
}

.ffs-9 {
    font-size: 9px;
}

.ffs-10 {
    font-size: 10px;
}

.ffs-11 {
    font-size: 11px;
}

.ffs-12 {
    font-size: 12px;
}

.ffs-13 {
    font-size: 13px;
}

.ffs-14 {
    font-size: 14px;
}

.ffs-15 {
    font-size: 15px;
}

.ffs-16 {
    font-size: 16px;
}

.ffs-17 {
    font-size: 17px;
}

.ffs-18 {
    font-size: 18px;
}

.ffs-19 {
    font-size: 19px;
}

.ffs-20 {
    font-size: 20px;
}

.ffs-21 {
    font-size: 21px;
}

.ffs-22 {
    font-size: 22px;
}

.ffs-23 {
    font-size: 23px;
}

.ffs-24 {
    font-size: 24px;
}

.ffs-25 {
    font-size: 25px;
}

.ffs-26 {
    font-size: 26px;
}

.ffs-27 {
    font-size: 27px;
}

.ffs-28 {
    font-size: 28px;
}

.ffs-29 {
    font-size: 29px;
}

.ffs-30 {
    font-size: 30px;
}

.ffs-31 {
    font-size: 31px;
}

.ffs-32 {
    font-size: 32px;
}

.ffs-33 {
    font-size: 33px;
}

.ffs-34 {
    font-size: 34px;
}

.ffs-35 {
    font-size: 35px;
}

.ffs-36 {
    font-size: 36px;
}

.ffs-37 {
    font-size: 37px;
}

.ffs-38 {
    font-size: 38px;
}

.ffs-39 {
    font-size: 39px;
}

.ffs-40 {
    font-size: 40px;
}

.ffs-41 {
    font-size: 41px;
}

.ffs-42 {
    font-size: 42px;
}

.ffs-43 {
    font-size: 43px;
}

.ffs-44 {
    font-size: 44px;
}

.ffs-45 {
    font-size: 45px;
}

.ffs-46 {
    font-size: 46px;
}

.ffs-47 {
    font-size: 47px;
}

.ffs-48 {
    font-size: 48px;
}

.ffs-49 {
    font-size: 49px;
}

.ffs-50 {
    font-size: 50px;
}

.ffs-51 {
    font-size: 51px;
}

.ffs-52 {
    font-size: 52px;
}

.ffs-53 {
    font-size: 53px;
}

.ffs-54 {
    font-size: 54px;
}

.ffs-55 {
    font-size: 55px;
}

.ffs-56 {
    font-size: 56px;
}

.ffs-57 {
    font-size: 57px;
}

.ffs-58 {
    font-size: 58px;
}

.ffs-59 {
    font-size: 59px;
}

.ffs-60 {
    font-size: 60px;
}

.ffs-61 {
    font-size: 61px;
}

.ffs-62 {
    font-size: 62px;
}

.ffs-63 {
    font-size: 63px;
}

.ffs-64 {
    font-size: 64px;
}

.ffs-65 {
    font-size: 65px;
}

.ffs-66 {
    font-size: 66px;
}

.ffs-67 {
    font-size: 67px;
}

.ffs-68 {
    font-size: 68px;
}

.ffs-69 {
    font-size: 69px;
}

.ffs-70 {
    font-size: 70px;
}

.ffs-71 {
    font-size: 71px;
}

.ffs-72 {
    font-size: 72px;
}

.ffs-73 {
    font-size: 73px;
}

.ffs-74 {
    font-size: 74px;
}

.ffs-75 {
    font-size: 75px;
}

.ffs-76 {
    font-size: 76px;
}

.ffs-77 {
    font-size: 77px;
}

.ffs-78 {
    font-size: 78px;
}

.ffs-79 {
    font-size: 79px;
}

.ffs-80 {
    font-size: 80px;
}

.ffs-81 {
    font-size: 81px;
}

.ffs-82 {
    font-size: 82px;
}

.ffs-83 {
    font-size: 83px;
}

.ffs-84 {
    font-size: 84px;
}

.ffs-85 {
    font-size: 85px;
}

.ffs-86 {
    font-size: 86px;
}

.ffs-87 {
    font-size: 87px;
}

.ffs-88 {
    font-size: 88px;
}

.ffs-89 {
    font-size: 89px;
}

.ffs-90 {
    font-size: 90px;
}

.ffs-91 {
    font-size: 91px;
}

.ffs-92 {
    font-size: 92px;
}

.ffs-93 {
    font-size: 93px;
}

.ffs-94 {
    font-size: 94px;
}

.ffs-95 {
    font-size: 95px;
}

.ffs-96 {
    font-size: 96px;
}

.ffs-97 {
    font-size: 97px;
}

.ffs-98 {
    font-size: 98px;
}

.ffs-99 {
    font-size: 99px;
}

