body {
    font-family: Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.articles {
    width: 960px;
    margin: 0 auto;
}

.article-image {
    overflow: hidden;
}

section {
    clear: both;
    float: left;
    border: 2px solid black;
    margin: 5px;
}

article {
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 3px;
    margin: 0;
}

article h3 {
    margin: 0;
}

.f-left {
    float: left;
}

article h3.selected, .article-image.selected, article p.selected {
    outline: 2px red dotted;
}

.sidebar {
    position: fixed;
    top: 20px;
    left: 20px;
    background: rgba(0, 0, 0, 0.5);
    /* Horizontal align */
    display: flex;
    justify-content: center;
}

.sidebar #slider-value {
    color: white;
}