.ArticleGroup {
  margin-bottom: 1rem;
  width: 100%;
  clear: both;
  float: left;
  min-height: 10rem;
  outline: 1px solid #dadada;
}

.ArticleGroup-wrapper:hover .ArticleGroup {
  outline-width: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  outline-color: #032d3a;
}

.ArticleGroup-wrapper:hover .Handlebar {
  display: block;
  animation-name: inflate;
  animation-duration: 0.2s;
}

.ArticleGroup--over .ArticleGroup {
  outline-color: #399ab7;
}

.ArticleGroup-wrapper {
  float: left;
  width: 100%;
  position: relative;
}

.ArticleGroup--align-right .Article-wrapper {
  float: right;
}

.ArticleGroup-wrapper:hover .Article-draggable {
  outline-color: #c7dde2;
}

.ArticleGroup-wrapper:hover .Article-draggable:hover {
  outline-color: #000;
}

/* Animation  */
@keyframes inflate {
    from { height: 0rem; top:0rem; }
    to { height: 3rem; top: -3rem; }
}
