.ArticleImage {
  flex: 1;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.ArticleImage-wrapper {
  overflow: hidden;
}

.ArticleImage-cropper {
  position: relative;
  outline: 0.125rem solid #032d3a;
}

.ArticleImage-cropper .ArticleImage {
  overflow: visible;
}

.ArticleImage .cropper-view-box {
  outline: none;
}
