.ArticleGroup {
  margin-bottom: 1rem;
  width: 100%;
  clear: both;
  float: left;
  min-height: 10rem;
  outline: 1px solid #dadada;
}

.ArticleGroup:hover {
  outline-width: 2px;
}

.ArticleGroup--over .ArticleGroup {
  outline-color: #399ab7;
}

.ArticleGroup-handlebar {
  height: 1.3rem;
  cursor: move;
  background-color: whitesmoke;
  outline: 1px solid #e8e8e8;
}

.ArticleGroup-handlebar:hover {
  background-color: #eaeaea;
}

.ArticleGroup-wrapper {
  float: left;
  width: 100%;
}

.ArticleGroup--align-right .Article-wrapper {
  float: right;
}
