.ArticleImage, .ArticleImage-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ArticleImage {
  display: inline;
}

.ArticleImage-cropper {
  position: relative;
  outline: 0.125rem solid #032d3a;
}

.ArticleImage-cropper .ArticleImage {
  overflow: visible;
}

.ArticleImage .cropper-view-box {
  outline: none;
}
