.EditMenu {
  width: 100%;
  background: #b8cfd0;
  position: absolute;
  top: -1.5rem;
  height: 1.5rem;
}

.EditMenu-element {
  display: inline-block;
}

.EditMenu-element input {
  width: 3rem;
}

.EditMenu-save {
  cursor: pointer;
}

.EditMenu-save:hover {
  color: grey;
}

.EditMenu-save .Icon {
  color: green;
}
