.Article-wrapper {
  float: left;
}

.Article {
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Article-draggable {
  height: 100%;
  outline: 1px dotted #c7dde2;
}

.Article-draggable .Icon {
  position: absolute;
  top: 0.125rem;
  left: 0.125rem;
  cursor: move;
}

.Article--dragging {
  opacity: 0.3;
}

.Article--over {
  outline-style: solid;
  outline-color: #399ab7;
}


.Article-draggable:hover {
  outline-color: #000;
}


.Article-image {
  overflow: hidden;
  width: 100%;
  height: auto;
  flex: 1;
}

.Article-image img {
  max-width: 100%;
}


.Article-title, .Article-title-edit input {
  margin: 1rem 0 0 0;
  font-size: 2rem;
  font-weight: bold;
}

.Article-title-edit input {
  border: none;
  width: 100%;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}
