.Article-wrapper {
  float: left;
}

.Article {
  padding: 1rem;
  border: 5px solid #ccc;
  border-radius: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Article-draggable {
  height: 100%;
}

.Article-draggable .Icon {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  cursor: move;
}

.Article--dragging {
  opacity: 0.3;
}

.Article-image {
  overflow: hidden;
  width: 100%;
  height: auto;
  flex: 1;
}

.Article-image img {
  max-width: 100%;
}

.Article-title {
  margin: 1rem 0 0 0;
  font-size: 2rem;
}
