.Font-size--3 {
    font-size: 3px;
}

.Font-size--4 {
    font-size: 4px;
}

.Font-size--5 {
    font-size: 5px;
}

.Font-size--6 {
    font-size: 6px;
}

.Font-size--7 {
    font-size: 7px;
}

.Font-size--8 {
    font-size: 8px;
}

.Font-size--9 {
    font-size: 9px;
}

.Font-size--10 {
    font-size: 10px;
}

.Font-size--11 {
    font-size: 11px;
}

.Font-size--12 {
    font-size: 12px;
}

.Font-size--13 {
    font-size: 13px;
}

.Font-size--14 {
    font-size: 14px;
}

.Font-size--15 {
    font-size: 15px;
}

.Font-size--16 {
    font-size: 16px;
}

.Font-size--17 {
    font-size: 17px;
}

.Font-size--18 {
    font-size: 18px;
}

.Font-size--19 {
    font-size: 19px;
}

.Font-size--20 {
    font-size: 20px;
}

.Font-size--21 {
    font-size: 21px;
}

.Font-size--22 {
    font-size: 22px;
}

.Font-size--23 {
    font-size: 23px;
}

.Font-size--24 {
    font-size: 24px;
}

.Font-size--25 {
    font-size: 25px;
}

.Font-size--26 {
    font-size: 26px;
}

.Font-size--27 {
    font-size: 27px;
}

.Font-size--28 {
    font-size: 28px;
}

.Font-size--29 {
    font-size: 29px;
}

.Font-size--30 {
    font-size: 30px;
}

.Font-size--31 {
    font-size: 31px;
}

.Font-size--32 {
    font-size: 32px;
}

.Font-size--33 {
    font-size: 33px;
}

.Font-size--34 {
    font-size: 34px;
}

.Font-size--35 {
    font-size: 35px;
}

.Font-size--36 {
    font-size: 36px;
}

.Font-size--37 {
    font-size: 37px;
}

.Font-size--38 {
    font-size: 38px;
}

.Font-size--39 {
    font-size: 39px;
}

.Font-size--40 {
    font-size: 40px;
}

.Font-size--41 {
    font-size: 41px;
}

.Font-size--42 {
    font-size: 42px;
}

.Font-size--43 {
    font-size: 43px;
}

.Font-size--44 {
    font-size: 44px;
}

.Font-size--45 {
    font-size: 45px;
}

.Font-size--46 {
    font-size: 46px;
}

.Font-size--47 {
    font-size: 47px;
}

.Font-size--48 {
    font-size: 48px;
}

.Font-size--49 {
    font-size: 49px;
}

.Font-size--50 {
    font-size: 50px;
}

.Font-size--51 {
    font-size: 51px;
}

.Font-size--52 {
    font-size: 52px;
}

.Font-size--53 {
    font-size: 53px;
}

.Font-size--54 {
    font-size: 54px;
}

.Font-size--55 {
    font-size: 55px;
}

.Font-size--56 {
    font-size: 56px;
}

.Font-size--57 {
    font-size: 57px;
}

.Font-size--58 {
    font-size: 58px;
}

.Font-size--59 {
    font-size: 59px;
}

.Font-size--60 {
    font-size: 60px;
}

.Font-size--61 {
    font-size: 61px;
}

.Font-size--62 {
    font-size: 62px;
}

.Font-size--63 {
    font-size: 63px;
}

.Font-size--64 {
    font-size: 64px;
}

.Font-size--65 {
    font-size: 65px;
}

.Font-size--66 {
    font-size: 66px;
}

.Font-size--67 {
    font-size: 67px;
}

.Font-size--68 {
    font-size: 68px;
}

.Font-size--69 {
    font-size: 69px;
}

.Font-size--70 {
    font-size: 70px;
}

.Font-size--71 {
    font-size: 71px;
}

.Font-size--72 {
    font-size: 72px;
}

.Font-size--73 {
    font-size: 73px;
}

.Font-size--74 {
    font-size: 74px;
}

.Font-size--75 {
    font-size: 75px;
}

.Font-size--76 {
    font-size: 76px;
}

.Font-size--77 {
    font-size: 77px;
}

.Font-size--78 {
    font-size: 78px;
}

.Font-size--79 {
    font-size: 79px;
}

.Font-size--80 {
    font-size: 80px;
}

.Font-size--81 {
    font-size: 81px;
}

.Font-size--82 {
    font-size: 82px;
}

.Font-size--83 {
    font-size: 83px;
}

.Font-size--84 {
    font-size: 84px;
}

.Font-size--85 {
    font-size: 85px;
}

.Font-size--86 {
    font-size: 86px;
}

.Font-size--87 {
    font-size: 87px;
}

.Font-size--88 {
    font-size: 88px;
}

.Font-size--89 {
    font-size: 89px;
}

.Font-size--90 {
    font-size: 90px;
}

.Font-size--91 {
    font-size: 91px;
}

.Font-size--92 {
    font-size: 92px;
}

.Font-size--93 {
    font-size: 93px;
}

.Font-size--94 {
    font-size: 94px;
}

.Font-size--95 {
    font-size: 95px;
}

.Font-size--96 {
    font-size: 96px;
}

.Font-size--97 {
    font-size: 97px;
}

.Font-size--98 {
    font-size: 98px;
}

.Font-size--99 {
    font-size: 99px;
}
