.Grid-12 {
    width: 100%;
}

.Grid-11 {
    width: 91.66%;
}

.Grid-10 {
    width: 83.33%;
}

.Grid-9 {
    width: 75%;
}

.Grid-8 {
    width: 66.66%;
}

.Grid-7 {
    width: 58.33%;
}

.Grid-6 {
    width: 50%;
}

.Grid-5 {
    width: 41.66%;
}

.Grid-4 {
    width: 33.33%;
}

.Grid-3 {
    width: 25%;
}

.Grid-2 {
    width: 12.66%;
}

.Grid-1 {
    width: 8.33%;
}
